@import "./flexbox.css";
@import "./utils.css";

.datatable {
	width: 100%;
	overflow: auto;
}

.datatable > table {
	border: solid .1em #d0d0d0;
	border-radius: .25em;
	background-color: white;
	border-spacing: 0;
	margin: 0;
	width: 100%;
}

.datatable > table > tbody > tr:nth-child(2n) {
	background-color: rgba(0,0,0,.05);
}

.datatable > table tr > th,
.datatable > table tr > td {
	padding: .5em 1em;
	text-align: left;
	border-bottom: solid .1em #d0d0d0;
	border-right: solid .1em #d0d0d0;
}

.datatable > table tr:last-child > td {
	border-bottom: none;
}

.datatable > table tr > th:last-child,
.datatable > table tr > td:last-child {
	border-right: none;
}

.datatable > table > thead th {
	cursor: pointer;
}

.datatable > table > thead th::after {
	margin-left: auto;
	padding: 0 .125em;
	content: "\00a0\21c5";
	color: #d0d0d0;
	font-weight: bold;
}

.datatable > table > thead th[aria-sort=ascending]::after {
	color: black;
	content: "\00a0\21c8";
}

.datatable > table > thead th[aria-sort=descending]::after {
	color: black;
	content: "\00a0\21ca";
}

.datatable_pagination {
	display: flex;
	align-items: center;
}

.datatable_pagination > .btn {
	height: 2rem;
	min-width: 2rem;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

.datatable_pagination > .btn.btn-char {
	font-size: .75em;
}

.datatable_pagination > .btn[aria-selected=true] {
	background-color: #d0d0d0;
	border-color: #b0b0b0;
}

.datatable_pagination > .btn:last-child {
	margin-right: 0;
}