.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row.align-top { align-items: flex-start; }
.row.align-middle { align-items: center; }
.row.align-bottom { align-items: flex-end; }

.row.align-left { justify-content: flex-start; }
.row.align-center { justify-content: center; }
.row.align-right { justify-content: flex-end; }

.col {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.col-left { margin-right: auto; }
.col-center { margin: 0 auto; }
.col-right { margin-left: auto; }

.col.col-auto { flex-grow: 1; }

.col.col-1-4 { width: 25%; }
.col.col-1-3 { width: calc(100% / 3); }
.col.col-1-2 { width: 50%; }
.col.col-2-3 { width: calc(200% / 3); }
.col.col-3-4 { width: 75%; }
.col.col-1-1 { width: 100%; }

.col.align-top { justify-content: flex-start; }
.col.align-middle { justify-content: center; }
.col.align-bottom { justify-content: flex-end; }

.col.align-left { align-items: flex-start; }
.col.align-center { align-items: center; }
.col.align-right { align-items: flex-end; }

/* MARGINS */
.m-0 { margin: 0;}
.mb-0 { margin-bottom: 0; }
.mt-0 { margin-top: 0; }
.ml-0 { margin-left: 0; }
.mr-0 { margin-right: 0; }
.my-0 { margin: 0 unset; }
.mx-0 { margin: unset 0; }

.m-1-2 { margin: .5rem; }
.mb-1-2 { margin-bottom: .5rem; }
.mt-1-2 { margin-top: .5rem; }
.ml-1-2 { margin-left: .5rem; }
.mr-1-2 { margin-right: .5rem; }
.my-1-2 { margin: .5rem unset; }
.mx-1-2 { margin: unset .5rem; }

.m-1 { margin: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.mt-1 { margin-top: 1rem; }
.ml-1 { margin-left: 1rem; }
.mr-1 { margin-right: 1rem; }
.my-1 { margin: 1rem unset; }
.mx-1 { margin: unset 1rem; }

.m-2 { margin: 2rem; }
.mb-2 { margin-bottom: 2rem; }
.mt-2 { margin-top: 2rem; }
.ml-2 { margin-left: 2rem; }
.mr-2 { margin-right: 2rem; }
.my-2 { margin: 2rem unset; }
.mx-2 { margin: unset 2rem; }

.m-3 { margin: 3rem; }
.mb-3 { margin-bottom: 3rem; }
.mt-3 { margin-top: 3rem; }
.ml-3 { margin-left: 3rem; }
.mr-3 { margin-right: 3rem; }
.my-3 { margin: 3rem unset; }
.mx-3 { margin: unset 3rem; }

.m-4 { margin: 4rem; }
.mb-4 { margin-bottom: 4rem; }
.mt-4 { margin-top: 4rem; }
.ml-4 { margin-left: 4rem; }
.mr-4 { margin-right: 4rem; }
.my-4 { margin: 4rem unset; }
.mx-4 { margin: unset 4rem; }

.m-5 { margin: 5rem; }
.mb-5 { margin-bottom: 5rem; }
.mt-5 { margin-top: 5rem; }
.ml-5 { margin-left: 5rem; }
.mr-5 { margin-right: 5rem; }
.my-5 { margin: 5rem unset; }
.mx-5 { margin: unset 5rem; }

/* MOBILE */
@media screen and (max-width: 720px) {
	.row {
		flex-wrap: wrap !important;
		align-items: center !important;
		justify-content: center !important;
	}
	.col {
		height: auto !important;
		width: 100% !important;
		margin-bottom: .5em;
		align-items: center !important;
	}
}